<td id="book-evaluation-<%= book.id %>" data-score="<%= book.evaluation %>"></td>
<script>
  $('#book-evaluation-<%= book.id %>').raty({
    readOnly: true,
    score: function() {
    return $(this).attr('data-score');
    },
  path: '/assets/'
  });
</script>